.App {
  font-family: Georgia, "Times New Roman", Times, serif;
}
button {
  background-color: rgb(9, 102, 163);
  color: white;
  border: transparent;
  border-radius: 4px;
  padding: 10px 20px;
}

.footer {
  background-color: lightgray;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  line-height: 24px;
  left: 0%;
  bottom: 0%;
  text-align: center;
}
